.friendship-bar {
    background-color: var(--comment-bg);
    width: fit-content;
    min-width: 60%;
}
.friend-requests {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#friend-request-options {
    display: flex;
    align-items: center;
    gap: 30px;
    grid-area: 1 / 3 / 1 / 3;
}
.requests-count {
    color: white;
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
    margin-left: 1%;
    border-radius: 10px;
    top: 20%;
    font-weight: 800;
    font-size: 13px;
    text-align: center;
}
.request-sent {
    background-color: var(--links);
    pointer-events: none;
}
.requests-bar {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--comment-bg);
    border-radius: 15px;
    position: fixed;
    height: fit-content;
    font-size: 14px;
}
.request-item {
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
}
.friendrequest {
    display: grid;
    grid-template: 1fr / 1fr 2fr 2fr;
    align-items: center;
}
.request-user {
    display: flex;
    grid-area: 1 / 2 / 1 / 2;
}
.request-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.2);
    grid-area: 1 / 1 / 1 / 1;
}
#confirmation {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#confirmation-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: ivory;
}
#confirmation-title {
    font-size: 1.5rem;
    font-weight: 600;
}
#confirmation-text {
    color: grey;
    font-size: 0.9rem;
}
.requests-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-top: 5%;
    min-height: 100vh;
}
.list-request-item {
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: var(--comment-bg);
}