#new_user {
    display: flex;
    align-items: center;
    gap: 5px;
}
.button .is-link {
    border: 1px solid black;
    height: 5px;
}
turbo-frame > a {
    color: azure;
    padding: 10px;
    font-weight: 800;
}
.comment-user { 
    color: black;
    font-size: 0.8rem;
}
.comment-user:hover {
    font-weight: 500;
    color: var(--logo);
}
.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.2);
}
.user-pic {
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
}
.button.unfocused {
    background-color: lightgrey;
}
.button.unfocused:hover {
    background-color: var(--links);
    color: whitesmoke;
}
.chats-count {
    color: white;
    height: 15px;
    width: 15px;
    background-color: red;
    position: absolute;
    margin-left: 1%;
    border-radius: 10px;
    top: 20%;
    font-weight: 800;
    font-size: 11px;
    text-align: center;
}
.small-text {
    color: var(--links);
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}
svg {
    width: 20px;
    height: fit-content;
    fill: ivory;
}
.hidden {
    display: none;
}
#hidden {
    display: none;
}
#error-div {
    width: 40%;
    height: fit-content;
    background-color: yellow;
    font-weight: 800;
    text-align: center;
}
#error-div-profile {
    width: 80%;
    height: fit-content;
    background-color: yellow;
    font-weight: 800;
    text-align: center;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
input[type=file]::file-selector-button {
    opacity: 0;
    z-index: -1;
    position: absolute
}
#file-button {
    height: 25px;
}
#signup {
    z-index: 1;
}
.field_with_errors > input {
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgba(31.8, 28.6, 34.5, 0.7);
    padding: 10px;
    color: ivory;
}